<!DOCTYPE html>
<html>
    <head>
        <title>Order's details</title>
    </head>
    <body>
        <h1>Order's details </h1>
        <a href="/">Index</a>
        <a href="/login">Login</a>
        <a href="/users_list">User's List</a>
        <br><br>
        <form action="/create_order" method="post">
            <label for="document_no">Новый документ : </label><br>
            <input type="text" name="document_no"  placeholder="Номер документа..."><br>
            <label for="document_date">Дата документа : </label><br>
            <input type="text" name="document_date" ><br>
            <label for="order_types_id">Тип документа : </label><br>
            <input type="text" name="order_types_id" ><br>
            <select class="selectpicker" data-style="btn-info" name="selectpicker">
                <optgroup label="Select Table">
                    <option value="">Выберите тип документа</option>
                    <% order_types.forEach(function(row){ %>
                    <option value="<%= row.id) %>"><%= row.name %></option>
                    <% }) %>
                </optgroup>
            </select>            <label for="order_status_id">Статус документа : </label><br>
            <input type="text" name="order_status_id" ><br>
            <label for="contragent_id">Контрагент : </label><br>
            <input type="text" name="contragent_id" ><br>
            <input type="submit" value="Сохранить">
            </form>
    </body>
</html>
