<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1>Error Page</h1>
        <p><%=error.status %></p>
        <p><% {error.stack} %></p>
        <a href="back">Назад</a>
    </body>
</html>
