<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1>Welcome <%= data.firstname + data.lastname %></h1>
        <p>Your id is <%= data.email %></p>
        <a href="/logout">Logout</a>
    </body>
</html>