<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <a href="/">Index</a>
        <a href="/login">Login</a>
        <br><br>
        <form action="/register" method="post">
            <label for="firstname">Имя : </label><br>
            <input type="text" name="firstname" placeholder="Имя..."><br>
            <label for="lastname">Фамилия : </label><br>
            <input type="text" name="lastname" placeholder="Фамилия..."><br>
            <label for="email">Email : </label><br>
            <input type="text" name="email" placeholder="test@example.com"><br>
            <label for="password">Пароль : </label><br>
            <input type="password" name="password" placeholder="Password..."><br>
            <label for="confirmed_password">Подтвержденный пароль : </label><br>
            <input type="password" name="confirmedPassword" placeholder="Password..."><br>
            <label for="name">Name : </label><br>
            <input type="text" name="name" placeholder="Name..."><br>
            <label for="city">City : </label><br>
            <input type="text" name="city" placeholder="City..."><br>
            <input type="submit">
        </form>
    </body>
</html>
