<html>
    <head>
        <title>Product Picture Upload</title>
    </head>    
<body>
    <form method="post" enctype="multipart/form-data" action="/upload_product_picture">
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>
</body>
</html>