@font-face {
    font-family: 'Gost';
    src: url("../fonts/gost/gost.eot");
    src: url("../fonts/gost/gost.eot?#iefix") format("embedded-opentype"), url("../fonts/gost/gost.woff") format("woff"), url("../fonts/gost/gost.ttf") format("truetype"), url("../fonts/gost/gost.svg") format("svg")
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    clear: both;
    *zoom: 1
}

.red {
    background-color: red
}

.coral {
    background-color: #c4232e
}

.lilac {
    background-color: #423f71
}

.purple-dark {
    background-color: #573a66
}

.purple-rasp {
    background-color: #a7293d
}

.burgundy {
    background-color: #95425c
}

.blue {
    background-color: #344965
}

#load {
    display: none
}

.loading {
    text-align: center;
    font-size: 25px;
    color: #344965;
    margin-top: 50px;
    display: none
}

.page {
    background: #fff;
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: normal;
    font-size: 100%;
    font-family: Arial, sans-serif;
    min-width: 525px
}

.page__main-finder {
    width: 100%
}

.mini-nav {
    position: fixed;
    float: left;
    width: 30px;
    height: 28px;
    background: #EDEEF2;
    cursor: pointer;
    border-radius: 5px;
    display: none
}

.mini-nav:before {
    content: '\2630';
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #344965;
    font-style: normal;
    font-size: 1.2em;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    text-transform: none
}

.finder-input-wrapper {
    position: relative;
    max-width: 1695px;
    margin-left: 8.291666667%;
    padding-right: 77px
}

.main-finder {
    position: fixed;
    padding: 10px 0;
    z-index: 30;
    padding-left: 20px
}

.main-finder--style {
    background: #344965;
    -webkit-background: linear-gradient(to right, #344965, #9e2b41);
    -moz-background: linear-gradient(to right, #344965, #9e2b41);
    -o-background: linear-gradient(to right, #344965, #9e2b41);
    background: linear-gradient(to right, #344965, #9e2b41)
}

.main-finder__input {
    width: 99%;
    display: block;
    padding: 5px;
    padding-left: 27px
}

.main-finder__input--style {
    outline: none;
    color: #000;
    border-radius: 5px;
    background: url("../img/find_icon.jpg") #EDEEF2 no-repeat;
    background-size: 20px 20px;
    background-position: 3px center;
    border: 1px solid #EDEEF2
}

::-webkit-input-placeholder {
    color: #000
}

:-moz-placeholder {
    color: #000;
    opacity: 1
}

::-moz-placeholder {
    color: #000;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000
}

::-ms-input-placeholder {
    color: #000
}

.main__main-nav {
    display: block;
    float: left
}

.main__main-content {
    overflow: auto;
    display: block;
    float: right
}

.main-nav {
    overflow-y: auto;
    width: inherit;
    padding-right: 40px;
    padding-top: 30px;
    position: relative;
    height: 100%;
    background: #344965
}

.main-nav__menu-list {
    padding: 0;
    margin: 0
}

.main-nav__menu-list--style {
    font-size: 1em
}

.menu-item--style {
    text-align: center
}

.menu-item__link {
    display: block;
    padding-top: 30px
}

.menu-item__link:hover {
    background-color: #2b3a4f
}

.menu-item__link--style {
    text-decoration: none;
    outline: none
}

.menu-item__link--selected {
    position: relative;
    -webkit-box-shadow: -2px 5px 5px #1f2d3e;
    -ms-box-shadow: -2px 5px 5px #1f2d3e;
    -o-box-shadow: -2px 5px 5px #1f2d3e;
    -moz-box-shadow: -2px 5px 5px #1f2d3e;
    box-shadow: -2px 5px 5px #1f2d3e
}

.menu-item__image {
    max-width: 50%;
    width: 45%;
    display: inline-block
}

.menu-item__image-description {
    display: block;
    padding-top: 2px;
    padding-bottom: 5px
}

.menu-item__image-description--style {
    color: #fff;
    font-size: 15px;
    text-transform: lowercase
}

.menu-list {
    height: 100%;
    width: inherit;
    list-style: none
}

.menu-list__menu-item {
    margin-bottom: 8px
}

.menu-list__menu-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}

.scrollbar-wrapper {
    position: fixed;
    width: 100px;
    height: 100%;
    overflow: hidden
}

.selected-triangle--inserted {
    position: fixed;
    width: 0;
    height: 0;
    left: 100px;
    margin-top: -50px;
    border-left: 10px solid transparent;
    border-bottom: 20px solid #344965;
    border-right: 10px solid transparent;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
}

.main-content {
    -moz-width: calc(100% - 50px);
    -o-width: calc(100% - 50px);
    -ms-width: calc(100% - 50px);
    -webkit-width: calc(100% - 50px);
    width: calc(100% - 50px);
    margin-top: 30px
}

.main-content__income-wrapper {
    padding-top: 25px
}

.content-function {
    padding-left: 25px;
    padding-right: 25px
}

.content-function--style {
    padding-top: 23px;
    padding-bottom: 5px;
    border-bottom: 3px solid #244581
}

.tabs__tab-links {
    padding: 0;
    margin: 0
}

.tab-links {
    float: left;
    text-align: center;
    width: 100%
}

.tab-links--style {
    list-style: none
}

.tab-links__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-left: 2%
}

.tab-links__item-orders {
    margin-right: 5%;
    margin-left: 10%
}

.tab-links__item:last-child {
    margin-right: 0
}

.tab {
    display: none
}

.tab--active {
    display: block
}

.tab-link {
    display: block;
    font-size: 1.375em;
    font-family: 'Gost', Arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px
}

.tab-link--style {
    color: #1e4784;
    outline: none;
    border: none;
    text-decoration: none
}

.tab-link--active {
    position: relative
}

.tab-link--active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-bottom: 5px solid #224682
}

.tab2 {
    display: none
}

.tab2--active {
    display: block
}

.tab2-link {
    display: block;
    font-size: 1.375em;
    font-family: 'Gost', Arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px
}

.tab2-link--style {
    color: #1e4784;
    outline: none;
    border: none;
    text-decoration: none
}

.tab2-link--active {
    position: relative
}

.tab2-link--active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-bottom: 5px solid #9e2b41
}

.horizontal-tabs__container {
    display: block;
    overflow: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px
}

.horizontal-tabs__container__settings {
    margin-top: 20px
}

.horizontal-tabs__content {
    display: none;
    overflow: auto
}

.horizontal-tabs-active {
    display: block
}

.settings-opportunities-heading {
    font-size: 25px;
    font-family: 'Gost', Arial, sans-serif;
    color: #D0CDF3
}

.settings-opportunities-heading-user {
    float: left
}

.settings-opportunities-pheading {
    font-size: 22px;
    font-family: 'Gost', Arial, sans-serif;
    color: #D0CDF3
}

.settings-opportunities-label {
    margin-top: 1%;
    width: 90%;
    font-size: 22px;
    font-family: 'Gost', Arial, sans-serif;
    margin-bottom: 42px;
    color: #D0CDF3
}

.settings-opportunities-input {
    height: 30px;
    width: 90%;
    margin-bottom: 33px;
    -webkit-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    -moz-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    -o-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    background: linear-gradient(to right, #D0CDF3, #F3CDEA)
}

.settings-opportunities-input-follow {
    margin-bottom: 1%;
    width: 100%
}

.settings-opportunities-grad {
    background: #9e2b41;
    -webkit-background: linear-gradient(to right, #344965, #9e2b41);
    -moz-background: linear-gradient(to right, #344965, #9e2b41);
    -o-background: linear-gradient(to right, #344965, #9e2b41);
    background: linear-gradient(to right, #344965, #9e2b41)
}

.settings-opportunities-style {
    margin: auto;
    height: auto;
    padding-left: 10%;
    padding-bottom: 2%
}

.settings-opportunities-style-height {
    height: 600px
}

.settings-opportunities-containerlabel {
    float: left;
    width: 25%;
    min-width: 270px
}

.settings-opportunities-containerinput {
    float: left;
    width: 60%
}

.settings-opportunities-follow-conteiner {
    width: 90%
}

.settings-opportunities-follow-conteiner-input {
    width: 200px;
    height: 35px;
    font-size: 25px;
    color: #9e2b41;
    float: right
}

.warehouse-window {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: 3px solid lightgrey
}

.warehouse-window-head {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
    -webkit-background: linear-gradient(to right, #344965, #9e2b41);
    -moz-background: linear-gradient(to right, #344965, #9e2b41);
    -o-background: linear-gradient(to right, #344965, #9e2b41);
    background: linear-gradient(to right, #344965, #9e2b41)
}

.warehouse-window-head-text {
    color: #fff;
    float: left;
    font-size: 1.25em;
    margin-top: 0;
    padding-top: 5px;
    padding-left: 20px
}

.warehouse-window-head-buttons {
    float: right;
    padding-top: 10px;
    width: 100px;
    height: 25px
}

.warehouse-window-head-buttons-raz {
    float: left;
    border: 1px solid lightgrey;
    width: 15px;
    height: 15px;
    margin-right: 10px
}

.warehouse-window-head-buttons-raz:hover {
    cursor: pointer
}

.warehouse-window-head-buttons-sver {
    float: left;
    color: lightgrey;
    width: 15px;
    border-bottom: 1px solid lightgrey;
    height: 15px;
    margin-right: 10px
}

.warehouse-window-head-buttons-sver:hover {
    cursor: pointer
}

.warehouse-window-head-buttons-close {
    float: left;
    color: lightgrey;
    width: 25px;
    margin-top: -5px;
    font-size: 1.4375em;
    height: 25px
}

.warehouse-window-head-buttons-close:hover {
    cursor: pointer
}

.warehouse-window-content {
    display: none;
    height: auto;
    margin-bottom: 20px;
    position: relative
}

.warehouse-window-content-style {
    margin-bottom: 0;
    padding: 15px 18px 15px 10px;
    -webkit-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    -moz-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    -o-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    background: linear-gradient(to right, #D0CDF3, #F3CDEA)
}

.warehouse-window-content-text {
    position: relative;
    font-size: 20px;
    font-family: 'Gost', Arial, sans-serif;
    color: #344965
}

.warehouse-window-content-message {
    width: 70%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    -webkit-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    -moz-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    -o-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    background: linear-gradient(to right, #D0CDF3, #F3CDEA)
}

.warehouse-window-content-dropdown-plus {
    background-color: #344965;
    font-size: 1.5625em;
    border: 2px solid #344965;
    color: red;
    cursor: pointer;
    width: 28px;
    margin-left: 65%;
    margin-top: 30px;
    height: 18px;
    float: left
}

.warehouse-window-content-dropdown-plus-add {
    text-align: center;
    margin-top: -5px
}

.warehouse-window-content-dropdown-plus-order {
    margin-left: 93%;
    margin-bottom: 20px
}

.warehouse-window-content-dropdown-main {
    display: none;
    width: 500px;
    height: 350px;
    position: absolute;
    margin-left: 53%;
    -webkit-background: linear-gradient(to right, #344965, #9e2b41);
    -moz-background: linear-gradient(to right, #344965, #9e2b41);
    -o-background: linear-gradient(to right, #344965, #9e2b41);
    background: linear-gradient(to right, #344965, #9e2b41);
    padding: 5px;
    color: #344965
}

.warehouse-window-content-dropdown-main-user {
    width: 400px;
    height: 320px;
    margin-top: 50px;
    margin-left: 43%
}

.warehouse-window-content-dropdown-main-order {
    width: 80%;
    height: 500px;
    margin-left: 8%;
    margin-top: 5%
}

.warehouse-window-content-dropdown-main-block {
    width: 100%;
    height: 300px;
    background-color: #fff
}

.warehouse-window-content-dropdown-main-block-order {
    height: 450px;
    overflow: hidden
}

.warehouse-window-content-dropdown-main-block-head {
    width: 100%;
    height: 60px
}

.warehouse-window-content-dropdown-main-block-head-left {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;
    height: 30px;
    color: #fff;
    background-color: #344965;
    border-radius: 2px
}

.warehouse-window-content-dropdown-main-block-head-left-text {
    text-align: center;
    margin-top: 8px;
    padding: 0 10px 5px 10px
}

.warehouse-window-content-dropdown-main-block-user {
    height: 270px
}

.warehouse-window-content-dropdown-main-block-sum {
    padding: 5px;
    margin-top: 270px;
    margin-bottom: 2%;
    margin-right: 10px;
    position: relative;
    width: 130px;
    background-color: #9e2b41;
    color: white;
    float: right;
    font-size: 13px
}

.warehouse-window-content-dropdown-main-block-left {
    float: left;
    width: 180px;
    height: 250px;
    margin-top: 20px
}

.warehouse-window-content-dropdown-main-block-left-user {
    width: 80px
}

.warehouse-window-content-dropdown-main-block-right {
    float: left;
    width: 320px;
    height: 250px;
    margin-left: -20px;
    margin-top: 20px
}

.warehouse-window-content-dropdown-main-block-input {
    width: 280px;
    height: 15px;
    margin-left: 10%;
    margin-bottom: 10px;
    color: #344965;
    padding-left: 2px;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, #344965 0%, #9e2b41 100%);
    border-image-slice: 1
}

.warehouse-window-content-dropdown-main-block-input-law {
    height: 150px
}

.warehouse-window-content-dropdown-main-block-label {
    width: 130px;
    font-size: 1em;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 13px;
    color: #344965
}

.warehouse-window-content-dropdown-main-block-label-user {
    margin-left: 20%;
    margin-top: 2px
}

.warehouse-window-content-dropdown-main-input {
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #9e2b41;
    height: 30px;
    width: 100px;
    border-radius: 2px;
    color: #fff;
    font-size: 0.9375em;
    -webkit-box-shadow: 2px 5px 5px #1f2d3e;
    -ms-box-shadow: 2px 5px 5px #1f2d3e;
    -o-box-shadow: 2px 5px 5px #1f2d3e;
    -moz-box-shadow: 2px 5px 5px #1f2d3e;
    box-shadow: 2px 5px 5px #1f2d3e
}

.checkbox-one {
    display: none
}

.checkbox-custom1 {
    position: relative;
    margin-left: 5%;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #9e2b41 0%, #344965 100%);
    border-image-slice: 1
}

.checkbox-custom1,
.label-one {
    display: inline-block;
    vertical-align: middle;
    color: #354a65;
    font-family: 'Gost', Arial, sans-serif;
    font-size: 1.5em
}

.checkbox-one:checked+.checkbox-custom1::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #344965;
    border-radius: 2px
}

.table-manufacture {
    width: 90%;
    margin: auto;
    height: auto;
    max-height: 600px;
    border-collapse: collapse;
    border: 4px solid lightgrey;
    overflow: hidden;
    color: #344965;
    text-align: center;
    -webkit-box-shadow: 1px 0px 20px 1px grey;
    -ms-box-shadow: 1px 0px 20px 1px grey;
    -o-box-shadow: 1px 0px 20px 1px grey;
    -moz-box-shadow: 1px 0px 20px 1px grey;
    box-shadow: 1px 0px 20px 1px grey
}

.table-manufacture-th {
    background-color: #344965;
    color: lightgrey;
    height: 40px;
    border-right: 3px solid lightgrey;
    -webkit-box-shadow: -2px 5px 10px #1f2d3e;
    -ms-box-shadow: -2px 5px 10px #1f2d3e;
    -o-box-shadow: -2px 5px 10px #1f2d3e;
    -moz-box-shadow: -2px 5px 10px #1f2d3e;
    box-shadow: -2px 5px 10px #1f2d3e
}

.table-manufacture-th-n {
    width: 40%
}

.table-manufacture-th-nn {
    width: 30%
}

.table-manufacture-th-e {
    width: 4%;
    padding-left: 20px
}

.table-manufacture-th-ee {
    width: 24%
}

.table-manufacture-th-m {
    width: 10%
}

.table-manufacture-th-mm {
    width: 16%
}

.table-manufacture-th-s {
    width: 20%
}

.table-manufacture-tr {
    height: 40px;
    background-color: #fff
}

.table-manufacture-td {
    border-right: 3px solid lightgrey
}

.table-manufacture-user {
    margin: 0
}

.table-order {
    width: 100%;
    margin: auto;
    height: auto;
    border: 1px solid #344965;
    border-spacing: 0;
    color: #344965;
    text-align: center
}

.table-order-th {
    height: 40px;
    border-right: 1px solid #344965;
    border-bottom: 1px solid #344965
}

.table-order-tr {
    height: 40px
}

.table-order-td {
    height: 40px;
    border-right: 1px solid #344965
}

.message-window {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: 3px solid #344965
}

.message-window-head {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px
}

.message-window-head-text {
    color: #344965;
    float: left;
    font-size: 1.25em;
    margin-top: 0;
    padding-top: 5px;
    padding-left: 20px;
    margin-right: 25%
}

.message-window-head-text-last {
    margin-right: 0
}

.message-window-head-buttons {
    float: right;
    padding-top: 10px;
    width: 100px;
    height: 25px
}

.message-window-head-buttons-raz {
    float: left;
    border: 1px solid #344965;
    width: 15px;
    height: 15px;
    margin-right: 10px
}

.message-window-head-buttons-raz:hover {
    cursor: pointer
}

.message-window-head-buttons-sver {
    float: left;
    color: #344965;
    width: 15px;
    border-bottom: 1px solid #344965;
    height: 15px;
    margin-right: 10px
}

.message-window-head-buttons-sver:hover {
    cursor: pointer
}

.message-window-head-buttons-close {
    float: left;
    color: #344965;
    width: 25px;
    margin-top: -5px;
    font-size: 1.4375em;
    height: 25px
}

.message-window-head-buttons-close:hover {
    cursor: pointer
}

.message-window-content {
    display: none;
    height: auto;
    margin-bottom: 20px;
    position: relative
}

.message-window-content-style {
    margin-bottom: 0;
    padding: 15px 18px 15px 10px;
    -webkit-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    -moz-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    -o-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    background: linear-gradient(to right, #D0CDF3, #F3CDEA)
}

.message-window-content-text {
    position: relative;
    font-size: 20px;
    font-family: 'Gost', Arial, sans-serif;
    color: #344965
}

.message-window-content-message {
    width: 70%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    -webkit-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    -moz-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    -o-background: linear-gradient(to right, #D0CDF3, #F3CDEA);
    background: linear-gradient(to right, #D0CDF3, #F3CDEA)
}

@media screen and (max-width: 1024px) {
    .scrollbar-wrapper {
        display: none;
        position: absolute;
        z-index: 3
    }
    .main-content {
        width: 100%
    }
    .mini-nav {
        display: inline-block
    }
    .finder-input-wrapper {
        float: left;
        width: calc(75%);
        min-width: 70px;
        padding-right: 10px
    }
    .selected-triangle--inserted {
        display: none
    }
    .message-window-head-text {
        margin-right: 5%
    }
    .warehouse-window-content-dropdown-main-user {
        margin: auto;
        margin-top: 120px
    }
    .settings-opportunities-containerinput {
        margin-right: 10px
    }
}

@media screen and (max-width: 1300px) {
    .analytics-conteiner {
        width: 100%
    }
}